body {
    width: 1440px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-color: black;
}

.main-title {
    display: inline;
}

.nav-menu {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}

.nav-menu__link  {
    color: white;
}

.auth-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-button {
    background-color: red;
}

.btn {
    padding: 5px 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}

.spider-man-logo {
    position: absolute;
    top: 22px;
    right: 82px;
    border-radius: 50%;
}

.main-info__wrapper {
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

.overview-wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.row {
    margin: 0px;
}

.rating-wrapper {
    margin-bottom: 10px;
}

.link {
    margin-bottom: 20px;
    color: blue;
}