body {
    width: 1440px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.header {
    background-image: url('./images/bg.png');
}

.main-title {
    display: inline;
    margin-right: 1200px;
}

.nav-menu_link {
    color: white;
}

.navigation {
    display: flex;
    padding: 0 0 0 10px;
}

.header-title_wrapper {
    width: 400px;
}

.header-title {
    color: white;
    font-size: 40px;
}

.header-title_description {
    color: white;
}

.header-content_wrapper {
    padding: 0 100px;
}

.search-button {
    width: 32px;
    height: 32px;    
    background-color: red;
    border: none;
    outline: none;
    border-radius: 50%;
}

.search-input {
    height: 30px;
    border-radius: 20px;
}